$black: rgba(0,0,0,0.75);
@media all
{
  body{
    //font-family: MercuryTextG2;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    background-color: white;
    margin: 0;
    box-sizing: border-box;
    display: block;
  }
  header{
    background: rgb(51,51,51) url(https://dgosxlrnzhofi.cloudfront.net/assets/home-head-173e8e324a3d6f8d730c4b51dead50f9.jpg) scroll;
    background-position-x: 50%;
    background-position-y: 50%;
    background-origin: padding-box;
    background-size: cover;
    display: block;
  }
  nav{
    margin: 0;
    background-color: $black;
    padding-top: 0;
    padding-right: 20px;
    min-height: 95px;
    border: none;
  }
  a {
    color: #d03226;
    text-decoration: none;
  }
  a:visited, a:hover, a:focus {
    color: #d03226;
  }
}
@media (min-width: 768px){
  header.container{
    max-width: 1070px;
  }
  .container {
    max-width: 750px;
  }
}
@media (min-width: 901px){

}
@media (min-width: 992px){

}
@media (min-width: 1200px){
  .container {
    max-width: 1170px;
  }
}
@media screen {
  @media (min-width: 768px){
    header .dropdown-menu {
      right: -44px;
    }
  }
}