$black: rgba(0,0,0,0.75);
@media all
{
  *:before *:after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  body{
    font-family: MercuryTextG2;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    background-color: white;
    margin: 0;
    box-sizing: border-box;
    display: block;
  }
  header{
    background-color: rgb(51,51,51);
    background-image: url(https://dgosxlrnzhofi.cloudfront.net/assets/home-head-173e8e324a3d6f8d730c4b51dead50f9.jpg);
    background-position-x: 50%;
    background-position-y: 50%;
    background-attachment: scroll;
    background-origin: padding-box;
    background-size: cover;
    display: block;
  }
  header nav .navbar-toggle {
    background: #cf3127;
    border-radius: 0;
    border: none;
    margin-right: 0;
  }
  header .navbar-brand {
    width: 200px;
    background: url("https://dgosxlrnzhofi.cloudfront.net/assets/logo-3fc81b216ed94ef783583de4160a97ef.svg") top left no-repeat;
    background-size: cover;
    text-indent: -5000em;
    margin-top: 15px;
  }
  header .navbar-nav>li {
    font-family: 'SourceCodePro';
  }
  header .dropdown-menu {
    padding-bottom: 0;
    padding-top: 0;
    min-width: 162px;
  }
  nav{
    margin: 0;
    background-color: $black;
    padding-top: 0;
    padding-right: 20px;
    min-height: 95px;
    border: none;
  }
  a {
    color: #d03226;
    text-decoration: none;
  }
  a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
  }
  a:visited, a:hover, a:focus {
    color: #d03226;
  }
  article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
  }
  .home #subheader {
    margin-bottom: 0;
    padding: 0;
  }
  #subheader {
    background: #e0ddd1;
  }
  .navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }
  .navbar{
    position: relative;
    z-index: 1000;
    :before{
      display: table;
      content: " ";
    }
    :after{
      clear:both;
    }
  }
  .navbar-default .navbar-brand {
    color: #777777;
  }
  .navbar-default .navbar-toggle {
    border-color: #dddddd;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .navbar-nav {
    float: left;
    margin: 7.5px -15px;
  }
  .navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  div{
    display: block;
  }
  button, input, select[multiple], textarea {
    background-image: none;
  }
  input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  button, select {
    text-transform: none;
  }
  button, input {
    line-height: normal;
  }
  button, input, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
  }
  ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
  }
  ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
  }
  h1 {
    margin: .67em 0;
    font-size: 2em;
  }
  h1, .h1 {
    font-size: 36px;
  }
  h2, .h2 {
    font-size: 30px;
  }
  h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'ForzaBold';
    font-weight: 500;
    line-height: 1.1;
  }
  p {
    margin: 0 0 10px;
  }
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav>li {
    position: relative;
    display: block;
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }
  .icon-bar {
    background: #ffffff;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .navbar-collapse {
    max-height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .collapse {
    display: none;
  }
  .navbar-collapse:before, .navbar-collapse:after {
    display: table;
    content: " ";
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }
  .dropdown {
    position: relative;
  }
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
  }
  .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
  }
  .home-hero {
    padding-bottom: 5em;
    padding-top: 5em;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .no-negative-margins, .row {
    margin-left: 0;
    margin-right: 0;
  }
  .home-welcome {
    color: #fff;
    text-align: center;
  }
  .home-welcome h1 {
    font-family: "ForzaBold";
    font-size: 4em;
    text-transform: uppercase;
  }
  .home-welcome h2 {
    font-family: "SourceCodePro";
    padding-bottom: 1em;
  }
  .home-welcome span {
    color: #cf3127;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .press-img, .col-md-6, .press-quote, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .home-welcome, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .btn-primary, .syllabi-form input[type=submit], .action-buttons a, .rsvp-form input[type=submit] {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
  }
  .btn.btn-primary, .syllabi-form input[type=submit], .action-buttons a, .rsvp-form input[type=submit] {
    font-family: "ForzaBold";
    text-transform: uppercase;
    color: #ffffff;
    background: #cf3127;
    border: 0;
    border-radius: 30px;
    padding: 1em 1.5em;
  }
  .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
  }
  .btn, .syllabi-form input[type=submit], .action-buttons a, .rsvp-form input[type=submit] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .callout {
    background: #333 url(https://dgosxlrnzhofi.cloudfront.net/assets/home-head-173e8e324a3d6f8d730c4b51dead50f9.jpg) center center no-repeat;
    background-size: cover;
    padding: 5em 0;
  }
  .callout p {
    color: #fff;
    font-family: "MercuryTextG2";
    font-size: 2.2em;
    line-height: 1.5em;
  }
  .take-bootcamp {
    padding: 2em 0 4em;
  }
  .foundations {
    background: #cf3127 url(https://dgosxlrnzhofi.cloudfront.net/assets/foundations-bg-4c90ba67ab0fd905aebcf9f1a7fad23b.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    padding: 5em 0;
  }
  #footer {
    padding: 4em 0;
    background: #333333;
    color: #ffffff;
  }
  h1.pgpHeader {
    color: floralwhite;
    font-size: 100px;
  }
  div.custom-page-header{
    height: 500px;
  }
}
@media (min-width: 768px){
  header.container{
    max-width: 1070px;
  }
  .container {
    max-width: 750px;
  }
}
@media (min-width: 901px){
  .navbar-header{
    float:left;
  }
  .navbar-toggle {
    display: none;
  }
  .navbar>.container .navbar-brand {
    margin-left: -15px;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  .navbar-right {
    float: right !important;
  }
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav>li>a {
    padding-top: 34px;
    padding-bottom: 14px;
  }
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}
@media (min-width: 992px){
  .container {
    max-width: 970px;
  }
  .col-md-offset-1, .press-quote, .home-welcome {
    margin-left: 8.33333%;
  }
  .col-md-10, .home-welcome {
    width: 83.33333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-6, .press-quote {
    width: 50%;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .press-img, .col-md-6, .press-quote, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .home-welcome, .col-md-11 {
    float: left;
  }
}
@media (min-width: 1200px){
  .container {
    max-width: 1170px;
  }
}
@media screen {
  @media (min-width: 768px){
    header .dropdown-menu {
      right: -44px;
    }
  }
}