<div data-ng-controller="userController">
  <article class="newUser">
    <form class="newUser_form">
      <fieldset>
        <legend>New User Information</legend>
        <div>
          <label class="newUser_form-lbl">Email Address</label>
          <input class="newUser_form-textarea" type="email" placeholder="Best email?" ng-model="newUser.email">
        </div>

        <div>
          <label class="newUser_form-lbl">Password</label>
          <input type="password" placeholder="Choose password" ng-model="newUser.password">
        </div>

        <div>
          <label class="newUser_form-lbl">First Name</label>
          <input type="text" placeholder="First name?" class="newUser_form-textarea" ng-model="newUser.firstName">
        </div>

        <div>
          <label class="newUser_form-lbl">Last Name</label>
          <input type="text" placeholder="Last name?" class="newUser_form-textarea" ng-model="newUser.lastName">
        </div>
      </fieldset>
      <button data-ng-click="saveNewUser(selectedUser)">Create</button>
    </form>
  </article>
</div>
