<div data-ng-controller="notesController">
<article class="newSurvey">
<form class="newSurvey_form">
<fieldset class="newSurvey_select">
    <legend>Please Select A Student</legend>
    <select data-ng-model="selectedNote" data-ng-options="note.name for note in notes"></select>
</fieldset>
<button class="toggle" id="btnGoalsOn">GOALS</button>
<!--Goal Resources ***************************************************************************-->
<fieldset id="fGoals">
    <button class="toggle" id="btnGoalsOff">GOALS</button>
    <legend>Goals</legend>
    <h2 id="saveGenResHere">Save New General Resources Here</h2>

    <div id="addGenResourse">
        <form id="frmGoalResource">
            <input type="text" placeholder="New Resource Title" data-ng-model="saveGResource.resource.title">
            <input type="text" placeholder="New Resource type" data-ng-model="saveGResource.resource.type">
            <input type="url" placeholder="New Resource Link" data-ng-model="saveGResource.resource.rlink">
            <button data-ng-click="saveGenResource(saveGResource)">Save New Resource</button>
        </form>
    </div>


    <!--Goals input ************************************************************************************-->
    <button id="btnG1On" class="toggle">LongTermGoals</button>
    <fieldset id="fG1">
        <button id="btnG1Off" class="toggle">LongTermGoals</button>
        <label class="newSurvey_form-std">My long term goals:</label>

        <p class="newSurvey_form-std">{{selectedNote.goal}}</p>
        <label for="sG1">General Resources</label>
        <select id="sG1" data-ng-model="selectedG1Res" data-ng-options="r.title for r in genResources">
        </select>
        <button data-ng-click="addg1Resource(selectedG1Res)">ADD Resource to Plan</button>
        <label>Remove from Plan: Alt+Click</label>
        <ul class="resourceList">
            <li class="animate-repeat" data-ng-click="removeRsrcFromPGP($event, rec, selectedNote.goalsrc1)"
                data-ng-repeat="rec in selectedNote.goalsrc1">
                Type:{{rec.type}} <a data-ng-href="{{rec.rlink}}">{{rec.title}}</a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
    </fieldset>

    <button id="btnG2On" class="toggle">REASONS</button>
    <fieldset id="fG2">
        <button id="btnG2Off" class="toggle">REASONS</button>
        <label class="newSurvey_form-std">Reasons for my interest in developing computer/coding skills</label>

        <p class="newSurvey_form-std">{{selectedNote.goal2}}</p>
        <label for="sG2">General Resources</label>
        <select id="sG2" data-ng-model="selectedG2Res" data-ng-options="r.title for r in genResources">
        </select>
        <button data-ng-click="addg2Resource(selectedG2Res)">ADD Resource to Plan</button>
        <label>Remove from Plan: Alt+Click</label>
        <ul class="resourceList">
            <li class="animate-repeat" data-ng-click="removeRsrcFromPGP($event, rec, selectedNote.goalsrc2)"
                data-ng-repeat="rec in selectedNote.goalsrc2">
                Type:{{rec.type}} <a data-ng-href="{{rec.rlink}}">{{rec.title}}</a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
    </fieldset>

    <button id="btnG3On" class="toggle">LikeProblems</button>
    <fieldset id="fG3">
        <button id="btnG3Off" class="toggle">LikeProblems</button>
        <label class="newSurvey_form-std">I like working on these kinds of problems</label>

        <p class="newSurvey_form-std">{{selectedNote.goal3}}</p>
        <label for="sG3">General Resources</label>
        <select id="sG3" data-ng-model="selectedG3Res" data-ng-options="r.title for r in genResources">
        </select>
        <button data-ng-click="addg3Resource(selectedG3Res)">ADD Resource to Plan</button>
        <label>Remove from Plan: Alt+Click</label>
        <ul class="resourceList">
            <li class="animate-repeat" data-ng-click="removeRsrcFromPGP($event, rec, selectedNote.goalsrc3)"
                data-ng-repeat="rec in selectedNote.goalsrc3">
                Type:{{rec.type}} <a data-ng-href="{{rec.rlink}}">{{rec.title}}</a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
    </fieldset>

    <button id="btnG4On" class="toggle">WhatNext</button>
    <fieldset id="fG4">
        <button id="btnG4Off" class="toggle">WhatNext</button>
        <label class="newSurvey_form-std">What I would like to do next</label>

        <p class="newSurvey_form-std">{{selectedNote.goal4}}</p>
        <label for="sG4">General Resources</label>
        <select id="sG4" data-ng-model="selectedG4Res" data-ng-options="r.title for r in genResources">
        </select>
        <button data-ng-click="addg4Resource(selectedG4Res)">ADD Resource to Plan</button>
        <label>Remove from Plan: Alt+Click</label>
        <ul class="resourceList">
            <li class="animate-repeat" data-ng-click="removeRsrcFromPGP($event, rec, selectedNote.goalsrc4)"
                data-ng-repeat="rec in selectedNote.goalsrc4">
                Type:{{rec.type}} <a data-ng-href="{{rec.rlink}}">{{rec.title}}</a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
    </fieldset>

    <button id="btnG5On" class="toggle">ACCOMPLISH</button>
    <fieldset id="fG5">
        <button id="btnG5Off" class="toggle">ACCOMPLISH</button>
        <label class="newSurvey_form-std">>What I would like to be able to accomplish with code</label>

        <p class="newSurvey_form-std">{{selectedNote.goal5}}</p>
        <label for="sG5">General Resources</label>
        <select id="sG5" data-ng-model="selectedG5Res" data-ng-options="r.title for r in genResources">
        </select>
        <button data-ng-click="addg5Resource(selectedG5Res)">ADD Resource to Plan</button>
        <label>Remove from Plan: Alt+Click</label>
        <ul class="resourceList">
            <li class="animate-repeat" data-ng-click="removeRsrcFromPGP($event, rec, selectedNote.goalsrc5)"
                data-ng-repeat="rec in selectedNote.goalsrc5">
                Type:{{rec.type}} <a data-ng-href="{{rec.rlink}}">{{rec.title}}</a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
    </fieldset>

</fieldset>

<!--Self Assessment ********************************************************************************************-->
<button class="toggle" id="btnAssOn">ASSESSMENT</button>
<fieldset id="fAss">
    <button class="toggle" id="btnAssOff">ASSESSMENT</button>
    <legend>Student's Skill Assessment By Topic</legend>

    <button id="btnHTMLOn" class="toggle">HTML</button>
    <fieldset id="fHTML">
        <button id="btnHTMLOff" class="toggle">HTML</button>
        <label class="newSurvey_form-lbl">HTML:</label>

        <form id="frmHTMLResource">
            <label class="rating">{{selectedNote.rtg1}}</label>
            <input type="text" placeholder="New Resource Title" data-ng-model="saveHTMLResource.resource.title"><input
                type="text" placeholder="New Resource type" data-ng-model="saveHTMLResource.resource.type"><input
                type="url" placeholder="New Resource Link" data-ng-model="saveHTMLResource.resource.rlink">
            <button data-ng-click="savehtmlResource(saveHTMLResource)">Save New HTML resource</button>
        </form>
        <label for="sHTML">HTML Resources</label>
        <select id="sHTML" data-ng-model="selectedHTMLRes" data-ng-options="r.title for r in HTMLResources">
        </select>
        <button data-ng-click="addHTMLResource(selectedHTMLRes)">ADD HTML Resource to Plan</button>
        <label>Remove from Plan: Alt+Click</label>
        <ul class="resourceList">
            <li class="animate-repeat" data-ng-click="removeRsrcFromPGP($event, rec, selectedNote.recsrc1)"
                data-ng-repeat="rec in selectedNote.recsrc1">
                Type:{{rec.type}} <a data-ng-href="{{rec.rlink}}">{{rec.title}}</a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
        <textarea rows="5" class="newSurvey_form-textarea" placeholder="Please enter recommendations here"
                  data-ng-model="selectedNote.rec1"></textarea>
    </fieldset>

    <button id="btnCSSOn" class="toggle">CSS</button>
    <fieldset id="fCSS">
        <button id="btnCSSOff" class="toggle">CSS</button>
        <label class="newSurvey_form-lbl">CSS:</label>

        <form id="frmCSSResource">
            <label class="rating">{{selectedNote.rtg2}}</label>
            <input type="text" placeholder="New Resource Title" data-ng-model="saveCSSResource.resource.title"><input
                type="text" placeholder="New Resource type" data-ng-model="saveCSSResource.resource.type"><input
                type="url" placeholder="New Resource Link" data-ng-model="saveCSSResource.resource.rlink">
            <button data-ng-click="savecssResource(saveCSSResource)">Save New CSS Resource</button>
        </form>
        <label for="sCSS">CSS Resources</label>
        <select id="sCSS" data-ng-model="selectedCSSRes" data-ng-options="r.title for r in CSSResources">
        </select>
        <button data-ng-click="addCSSResource(selectedCSSRes)">ADD CSS Resource to Plan</button>
        <label>Remove from Plan: Alt+Click</label>
        <ul class="resourceList">
            <li class="animate-repeat" data-ng-click="removeRsrcFromPGP($event, rec, selectedNote.recsrc2)"
                data-ng-repeat="rec in selectedNote.recsrc2">
                Type:{{rec.type}} <a data-ng-href="{{rec.rlink}}">{{rec.title}}</a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
        <textarea rows="5" placeholder="Please enter recommendations here" class="newSurvey_form-textarea"
                  data-ng-model="selectedNote.rec2"></textarea>
    </fieldset>

    <button id="btnJSOn" class="toggle">JavaScript</button>
    <fieldset id="fJS">
        <button id="btnJSOff" class="toggle">JavaScript</button>
        <label class="newSurvey_form-lbl">Javascript:</label>

        <form id="frmJSResource">
            <label class="rating">{{selectedNote.rtg3}}</label>
            <input type="text" placeholder="New Resource Title" data-ng-model="saveJSResource.resource.title"><input
                type="text" placeholder="New Resource type" data-ng-model="saveJSResource.resource.type"><input
                type="url" placeholder="New Resource Link" data-ng-model="saveJSResource.resource.rlink">
            <button data-ng-click="savejsResource(saveJSResource)">Save New JS resource</button>
        </form>
        <label for="sJS">JavaSript Resources</label>
        <select id="sJS" data-ng-model="selectedJSRes" data-ng-options="r.title for r in JSResources">
        </select>
        <button data-ng-click="addJSResource(selectedJSRes)">ADD JS Resource to Plan</button>
        <label>Remove from Plan: Alt+Click</label>
        <ul class="resourceList">
            <li class="animate-repeat" data-ng-click="removeRsrcFromPGP($event, rec, selectedNote.recsrc3)"
                data-ng-repeat="rec in selectedNote.recsrc3">
                Type:{{rec.type}} <a data-ng-href="{{rec.rlink}}">{{rec.title}}</a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
        <textarea rows="5" placeholder="Please enter recommendations here" class="newSurvey_form-textarea"
                  data-ng-model="selectedNote.rec3"></textarea>
    </fieldset>

    <button id="btnGITOn" class="toggle">GIT</button>
    <fieldset id="fGIT">
        <button id="btnGITOff" class="toggle">GIT</button>
        <label class="newSurvey_form-lbl">GIT:</label>

        <form id="frmGITResource">
            <label class="rating">{{selectedNote.rtg4}}</label>
            <input type="text" placeholder="New Resource Title" data-ng-model="saveGITResource.resource.title"><input
                type="text" placeholder="New Resource type" data-ng-model="saveGITResource.resource.type"><input
                type="url" placeholder="New Resource Link" data-ng-model="saveGITResource.resource.rlink">
            <button data-ng-click="savegitResource(saveGITResource)">Save New GIT Resource</button>
        </form>
        <label for="sGIT">GIT Resources</label>
        <select id="sGIT" data-ng-model="selectedGITRes" data-ng-options="r.title for r in GITResources">
        </select>
        <button data-ng-click="addGITResource(selectedGITRes)">ADD GIT Resource to Plan</button>
        <label>Remove from Plan: Alt+Click</label>
        <ul class="resourceList">
            <li class="animate-repeat" data-ng-click="removeRsrcFromPGP($event, rec, selectedNote.recsrc4)"
                data-ng-repeat="rec in selectedNote.recsrc4">
                Type:{{rec.type}} <a data-ng-href="{{rec.rlink}}">{{rec.title}}</a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
        <textarea rows="5" placeholder="Please enter recommendations here" class="newSurvey_form-textarea"
                  data-ng-model="selectedNote.rec4"></textarea>
    </fieldset>

    <button id="btnDSAOn" class="toggle">DATA</button>
    <fieldset id="fDSA">
        <button id="btnDSAOff" class="toggle">DATA</button>
        <label class="newSurvey_form-lbl">Data structures and algorithms:</label>

        <form id="frmDSAResource">
            <label class="rating">{{selectedNote.rtg5}}</label>
            <input type="text" placeholder="New Resource Title" data-ng-model="saveDSAResource.resource.title"><input
                type="text" placeholder="New Resource type" data-ng-model="saveDSAResource.resource.type"><input
                type="url" placeholder="New Resource Link" data-ng-model="saveDSAResource.resource.rlink">
            <button data-ng-click="savedsaResource(saveDSAResource)">Save New Data Resource</button>
        </form>
        <label for="sDSA">Data Structures and Algorithms Resources</label>
        <select id="sDSA" data-ng-model="selectedDSARes" data-ng-options="r.title for r in DSAResources">
        </select>
        <button data-ng-click="addDSAResource(selectedDSARes)">ADD Data Resource to Plan</button>
        <label>Remove from Plan: Alt+Click</label>
        <ul class="resourceList">
            <li class="animate-repeat" data-ng-click="removeRsrcFromPGP($event, rec, selectedNote.recsrc5)"
                data-ng-repeat="rec in selectedNote.recsrc5">
                Type:{{rec.type}} <a data-ng-href="{{rec.rlink}}">{{rec.title}}</a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
        <textarea rows="5" placeholder="Please enter recommendations here" class="newSurvey_form-textarea"
                  data-ng-model="selectedNote.rec5"></textarea>
    </fieldset>

    <button id="btnCMDOn" class="toggle">TERMINAL</button>
    <fieldset id="fCMD">
        <button id="btnCMDOff" class="toggle">TERMINAL</button>
        <label class="newSurvey_form-lbl">Command line interface:</label>

        <form id="frmCMDResource">
            <label class="rating">{{selectedNote.rtg6}}</label>
            <input type="text" placeholder="New Resource Title" data-ng-model="saveCMDResource.resource.title"><input
                type="text" placeholder="New Resource type" data-ng-model="saveCMDResource.resource.type"><input
                type="url" placeholder="New Resource Link" data-ng-model="saveCMDResource.resource.rlink">
            <button data-ng-click="savecmdResource(saveCMDResource)">Save New Terminal Resource</button>
        </form>
        <label for="sCMD">Command Line (terminal) Resources</label>
        <select id="sCMD" data-ng-model="selectedCMDRes" data-ng-options="r.title for r in CMDResources">
        </select>
        <button data-ng-click="addCMDResource(selectedCMDRes)">ADD Terminal Resource to Plan</button>
        <label>Remove from Plan: Alt+Click</label>
        <ul class="resourceList">
            <li class="animate-repeat" data-ng-click="removeRsrcFromPGP($event, rec, selectedNote.recsrc6)"
                data-ng-repeat="rec in selectedNote.recsrc6">
                Type:{{rec.type}} <a data-ng-href="{{rec.rlink}}">{{rec.title}}</a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
        <textarea rows="5" placeholder="Please enter recommendations here" class="newSurvey_form-textarea"
                  data-ng-model="selectedNote.rec6"></textarea>
    </fieldset>

    <button id="btnOOPOn" class="toggle">Object-Orientated</button>
    <fieldset id="fOOP">
        <button id="btnOOPOff" class="toggle">Object-Orientated</button>
        <label class="newSurvey_form-lbl">Object-oriented programming:</label>

        <form id="frmOOPResource">
            <label class="rating">{{selectedNote.rtg7}}</label>
            <input type="text" placeholder="New Resource Title" data-ng-model="saveOOPResource.resource.title"><input
                type="text" placeholder="New Resource type" data-ng-model="saveOOPResource.resource.type"><input
                type="url" placeholder="New Resource Link" data-ng-model="saveOOPResource.resource.rlink">
            <button data-ng-click="saveoopResource(saveOOPResource)">Save New Object-oriented Resource</button>
        </form>
        <label for="sOOP">Object-oriented Programing Resources</label>
        <select id="sOOP" data-ng-model="selectedOOPRes" data-ng-options="r.title for r in OOPResources">
        </select>
        <button data-ng-click="addOOPResource(selectedOOPRes)">ADD Object-oriented Resource to Plan</button>
        <label>Remove from Plan: Alt+Click</label>
        <ul class="resourceList">
            <li class="animate-repeat" data-ng-click="removeRsrcFromPGP($event, rec, selectedNote.recsrc7)"
                data-ng-repeat="rec in selectedNote.recsrc7">
                Type:{{rec.type}} <a data-ng-href="{{rec.rlink}}">{{rec.title}}</a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
        <textarea rows="5" placeholder="Please enter recommendations here" class="newSurvey_form-textarea"
                  data-ng-model="selectedNote.rec7"></textarea>
    </fieldset>

</fieldset>

<fieldset>
    <legend>Questions/Concerns?</legend>
    <p class="newSurvey_form-std">{{selectedNote.note}}</p>

    <label class="newSurvey_form-lbl">Responses:</label>
    <textarea rows="5" placeholder="Enter responses to Questions and concerns here." class="newSurvey_form-textarea"
              data-ng-model="selectedNote.feedbk"></textarea>
</fieldset>

<button data-ng-click="saveNote(selectedNote)">Save PGP</button>
<label for="cbPGP">Check Complete to make PGP available to student</label><input class="cbComplete" id="cbPGP"
                                                                                 type="checkbox"
                                                                                 data-ng-model="selectedNote.recComplete">

</form>

</article>

</div>
