<div data-ng-controller="userController">
    <article>
        <p>Congratulations, you've made it to the end of our Foundations of CS and Web Development course! I truly hope it has been a rewarding experience for you, and encourage you to continue to spend as much time as you can honing and further developing your coding powers.</p>

        <p>To help us give you the best guidance on where to go from here, please tell us a little about how strongly you are feeling about the various topics we covered, and what your longer-term goals are. Your TA will share some feedback and favorite resources you can use to keep you learning on your own time.</p>

        <p>It's been a great honor to travel this stretch of the journey with you. I wish you the best with all that this path leads you towards!</p>

        <p>—Brook</p>
    </article>
</div>
