<div data-ng-controller="userController">
    <article class="userLogin">
        <form class="userLogin_form">
            <fieldset>
                <legend>User Login</legend>
                <label class="loginUser_form-lbl">Email Address</label>
                <input class="loginUser_form-textarea" placeholder="email address" type="email" ng-model="loginUser.email"></textarea>
                <label class="newUser_form-lbl">Password</label>
                <input placeholder="password" type="password" ng-model="loginUser.password"></textarea>
            </fieldset>
            <button id="btnlogin" data-ng-click="userLogin(loginUser)">Submit</button>
        </form>
    </article>
</div>
