<article data-ng-controller="notesController" class="newSurvey">
  <h1 hidden class="hidden">New Student Survey</h1>

  <form class="newSurvey_form">

    <fieldset class="newSurvey_form-info">
      <legend>Student Information</legend>

        <input placeholder="Name" type="text" data-ng-model="newNote.name">

        <input placeholder="Course" type="text" data-ng-model="newNote.course">
    </fieldset>

    <section>
      <h1>Self Assessment</h1>
      <p>We want to help you reach your goals. We've seen the work you've truned in. Now, we need your help answering the follwing questions, so we can create a Personalized Growth Plan for you.</p>
      <p>How do you rate yourself on a scale from 1 to 10 (1 being "I have no idea?", 5 being "I understand the concept", 10 being "I feel really confident") in the following areas:</p>
    </section>

    <fieldset class="newSurvey_form-sbj">
      <label class="newSurvey_form-lbl">HTML:</label>
      <input class="newSurvey_form-text" placeholder="1-10" type="number" min="1" max="10" data-ng-model="newNote.rtg1">
      <label class="newSurvey_form-lbl">CSS:</label>
      <input class="newSurvey_form-text" placeholder="1-10" type="number" min="1" max="10" data-ng-model="newNote.rtg2">
      <label class="newSurvey_form-lbl">Javascript:</label>
      <input class="newSurvey_form-text" placeholder="1-10" type="number" min="1" max="10" data-ng-model="newNote.rtg3">
    </fieldset>

    <fieldset>
      <legend>Goals</legend>
      <textarea rows="10" class="newSurvey_form-textarea" placeholder="What would you like to do with your new skills?" type="text" data-ng-model="newNote.goal"></textarea>
    </fieldset>

    <fieldset>
      <legend>Questions/Concerns?</legend>
      <textarea rows="10" class="newSurvey_form-textarea" placeholder="Please share any questions or concerns you may have." type="text" data-ng-model="newNote.note"></textarea>
    </fieldset>

    <button data-ng-click="saveNewNote()">SUBMIT</button>

  </form>
</article>

