

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***** BASE STYLES *****/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 3.2rem;

}

h1 {
    font-family: "Droid Serif", serif;
    font-weight: 400;
    font-size: 2.6rem;
}

.newSurvey_form-btn,
.newPGP_form-btn {
    border-radius: 5rem;
    display: inline-block;
    width: 50%;
}

.hidden {
    display: none;
}

.toggle {
    width: 7em;
    background-color: brown;
}

.rating {
    font-size: 10rem;
    background-color: darkred;
}

.cbComplete {
    height: 2em;
    width: 2em;
}
