header {
    background-color: #333;
    padding: 2rem 0 1rem 0;
}

.header-logo {
    width: 20rem;
    display: block;
    margin: 0 auto;
    padding: 0 auto;
}

.header-h1 {
    font-weight: bold;
    color: #fff;
    display: block;
    text-align: center;
    padding: 1rem 0;
    font-size: 3rem;
}
