.nav_ul {
    text-align: center;
}

.nav_ul-li {
    display: inline-block;
    padding: 1rem;
}

.nav_ul-li-a {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
}

.nav_ul-li-a:active, .nav_ul-li-a:hover {
    color: #d03226;
}
