
    <article class="userLogin">
        <form class="userLogin_form">
            <fieldset>
                <legend>User Login</legend>
                <label class="loginUser_form-lbl">Email Address</label>
                    <input id="username" class="loginUser_form-textarea" placeholder="email address" type="email"
                       >
                <label class="newUser_form-lbl">Password</label>
                <input id="password" placeholder="password" type="password">
            </fieldset>
            <button id="btnlogin" onclick="dgApp.testmod()">Submit</button>
        </form>
    </article>
